<%= form_for(reporte) do |f| %>
  <% if reporte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reporte.errors.count, "error") %> prohibited this reporte from being saved:</h2>

      <ul>
      <% reporte.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>

  <div class="field">
    <%= f.label :datos %>
    <%= f.number_field :datos %>
  </div>

  <div class="field">
    <%= f.label :planta_id %>
    <%= f.number_field :planta_id %>
  </div>

  <div class="field">
    <%= f.label :microcontrolador_id %>
    <%= f.number_field :microcontrolador_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
