<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @reporte.tipo %>
</p>

<p>
  <strong>Datos:</strong>
  <%= @reporte.datos %>
</p>

<p>
  <strong>Planta:</strong>
  <%= @reporte.planta_id %>
</p>

<p>
  <strong>Microcontrolador:</strong>
  <%= @reporte.microcontrolador_id %>
</p>

<%= link_to 'Edit', edit_reporte_path(@reporte) %> |
<%= link_to 'Back', reportes_path %>
