<p id="notice"><%= notice %></p>

<h1>Planta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Huerta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planta.each do |plantum| %>
      <tr>
        <td><%= plantum.nombre %></td>
        <td><%= plantum.huerta_id %></td>
        <td><%= link_to 'Show', plantum %></td>
        <td><%= link_to 'Edit', edit_plantum_path(plantum) %></td>
        <td><%= link_to 'Destroy', plantum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plantum', new_plantum_path %>
